* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3b556f;
}

.primary-nav {
  width: 100px;
  font: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(15%, 1fr));
  width: 100%;
  padding: 10px;
  background-color: #adb2b4;
}

.username {
  grid-column-start: 4;
  display: flex;
  justify-content: flex-end;
  height: 25px;
  margin: 2px;
  background-color: #adb2b4;
}

.login-button {
  font-family: arial;
  font-size: 20px;
  background-color: #adb2b4;
  border: 4px solid #adb2b4;
}

.down-arrow {
  height: 25px;
  margin: 2px;
}

.shares-icon {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin: 5px;
  grid-column-start: 1;
  grid-row-start: 3;
}

.shares {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5px;
  font-family: arial;
  font-size: 20px;
  grid-column-start: 1;
  grid-row-start: 3;
}

.playlists-icon {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin: 5px;
  grid-column-start: 2;
  grid-row-start: 3;
}

.playlists {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: arial;
  font-size: 20px;
  margin: 5px;
  grid-column-start: 2;
  grid-row-start: 3;
}

.videos-icon {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 5px;
  grid-column-start: 3;
  grid-row-start: 3;
}

.videos {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: arial;
  font-size: 20px;
  margin: 5px;
  grid-column-start: 3;
  grid-row-start: 3;
}


.company-name {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-family: arial;
  font-size: 20px;
  margin: 5px;
  grid-column-start: 4;
  grid-row-start: 3;
}

.people-icon {
  margin: 3px;
  height: 24px;
  width: 24px;
}

h1 {
  font-family: arial;
  color: white;
  padding: 10px;
  margin: 10px;
}

.container {
  margin: 1em;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: .5em;
  justify-items: stretch;
  align-items: stretch;
}

.box {
  border-radius: 15px;
  font: 20px;
  text-align: center;
}

.box1 {
  text-align: center;
}


article {
  background-color: #8598ac;
  font-size: 24px;
  padding: 10px;
}

.people-icon {
  height: 24px;
  width: 24px;
}



@media screen and (min-width: 55em) {
  body {
    background-color: #3b556f;
  }
}

@media screen and (max-width: 40em) {
  body {
    background: #9d554b;
  }
}
