* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3b556f;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  height: 100px;
  background-color: #adb2b4;
  border-color: black;
  border: 10px;
}

.secondary-nav {
  align-items: flex-end;
}

.people-icon {
  height: 25px;
  margin: 2px;
  background-color: #adb2b4;
}

.down-arrow {
  height: 25px;
  margin: 2px;
}

.login-button {
  height: 25px;
  margin: 2px;
  background-color: #adb2b4;
  border-color: #adb2b4;
  border: 2px solid #adb2b4;
  font-family: arial;
  color: #2b1aad;
}

.logo {
  height: 50px;
  display: flex;
  justify-cont
}

header {
  height: 200px;
  border: 0;
  margin: 0;
  padding: 0;
}


div {
  height: 15px;

}

p {
  font-family: arial;
  color: white;
}

h1 {
  height: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(2px, auto);
  grid-gap: .5em;
  border-radius: 15px;
  font-family: arial;
  color: white;
  margin: 5px;
  border: 5px;
  border-color: black;
  padding: 1px;
  text-align: center;
  background-color: #adb2b4;
}

h2 {
  height: 50px;
  font-family: arial;
  color: white;
}


.container {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5em;
  grid-auto-rows: minmax(600px, auto);
}

.box {
  border-radius: 15px;
  margin: 10px;
  font: 20px;
  text-align:center;
}

.box1 {
  text-align: center;
}

#special {
  background-color: #3b556f;
}

article {
  background-color: #8598ac;
  font-size: 24px;
  padding: 10px;
  <img src="https://image.flaticon.com/icons/svg/126/126509.svg" class="loaded">
}


/* @media screen and (min-width: 55em) {
  body {
    background: #d3c8bf;
  }
}

@media screen and (max-width: 40em) {
  body {
    background: #9d554b;
  }
}
<img srcset="
<img srcset="https://cdn.pixabay.com/photo/2020/03/22/14/49/iceland-4957449_640.jpg 1x, https://cdn.pixabay.com/photo/2020/03/22/14/49/iceland-4957449_1280.jpg 2x" src="https://cdn.pixabay.com/photo/2020/03/22/14/49/iceland-4957449_640.jpg" alt="Iceland, Sea, Ocean, Nature, Water, Sky, Clouds">
